.todo-item {
  align-items: center;
  border-bottom: 1px solid #bbb;
  display: flex;
  padding-bottom: 10px;
  padding-top: 10px;
}

.checkbox {
  cursor: pointer;
  flex-basis: 5%;
}

.todo-text {
  flex-basis: 90%;
}

.remove-button {
  background-color: transparent;
  border: 0;
  color: #bbb;
  cursor: pointer;
  flex-basis: 5%;
  font-size: 18px;
  max-width: 20px;
  transition: .25s;
}

.remove-button:hover {
  color: #f52e39;
}

.done {
  text-decoration: line-through;
}
