.todo-item {
  align-items: center;
  border-bottom: 1px solid #bbb;
  display: flex;
  padding-bottom: 10px;
  padding-top: 10px;
}
.slide-bottom {
  animation: slide-bottom .3s cubic-bezier(.25, .46, .45, .94) both;
}

@keyframes slide-bottom {
  0% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}

.slide-top {
  animation: slide-top .3s cubic-bezier(.25, .46, .45, .94) both;
}

@keyframes slide-top {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
  }
}

.checkbox {
  cursor: pointer;
  flex-basis: 5%;
}

.todo-text {
  flex-basis: 90%;
}

.remove-button {
  background-color: transparent;
  border: 0;
  color: #bbb;
  cursor: pointer;
  flex-basis: 5%;
  font-size: 18px;
  max-width: 20px;
  transition: .25s;
}

.remove-button:hover {
  color: #f52e39;
}

.done {
  text-decoration: line-through;
}
