.input-container {
  display: flex;
  justify-content: space-between;
}

.input {
  border-radius: 3px;
  border: 1px solid #bbb;
  margin-right: 20px;
  width: 80%;
}

.add-button {
  background-color: #1890ff;
  border-radius: 3px;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  padding: 5px 45px;
}
